<%- include("pages/header.ejs") %>

<!--TOP HEADER-->
<div class="header">
    <img src="./images/top.jpg" width="50%">
    <div class="kolom">
        <p class="deskripsi">Belajar Programming</p>
        <h2 class="judul"> Generate API DENGAN NODE & EXPRESS JS</h2>
        <p>Web ini merupakan hasil belajar web development dengan tujuan mengasah skill desain dan generete public api.</p>
        <p class="btn-contact"><a href="/" class="btn-contact">Contact Me</a></p>
    </div>
</div>

<!--ABOUT ME-->
<section id="me">
    <div class="tengah">
        <div class="kolom">
            <p class="judul">About Me</p>
            <img class="me-image" src="./images/gojo.jpg" alt="imageme">
            <h2>ENNNNNN</h2>
            <p>Seseorang yang ingin menguasai skill programming yaitu mobile development, web development dan game development. Saat ini sedang belajar web development dan semoga apa yang diinginkan tercapai.</p>
        </div>
    </div>
</section>

<%- include("pages/footer.ejs") %>
    
